{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src/"],
        "alias": {
          "@components": "./src/components",
          "@api": "./src/api",
          "@pages": "./src/pages",
          "@hooks": "./src/hooks",
          "@services": "./src/services",
          "@utils": "./src/utils",
          "@styles": "./src/styles"
        }
      }
    ]
  ]
}