.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    header {
        height: 20vh;
        background-color: yellow;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        height: 100%;
        width: 100%;
        background-color: aqua;
        display: flex;
        justify-content: center;
        align-items: center;

        .test {
            padding: 20px;
            width: 60%;
            background-color: green;
        }
    }
}
