.label {
    font-family:  var(--font-family-mochiy);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-xmd);
    color: var(--white);
    -webkit-text-stroke: 1px var(--color-primary);
    padding-bottom: var(--spacing-sm);
}