$test: #2e2e31;

:root {
    --color-primary: #0070bc;
    --color-primary-dark: #004b7e;

    --color-secondary: #89d0fe;

    --color-text: #023047;
    --color-border: #d1d0d2;

    --white: #fff;
    --black: #000;
    
    --black-alpha-75: rgba(0,0,0, 0.75);
    --black-alpha-50: rgba(0,0,0, 0.5);
    --black-alpha-25: rgba(0,0,0, 0.25);

    --transparent: rgba(0,0,0, 0);


    --color-success: #06d664;
    --color-success-dark: #049445;
    --color-error: #f5414f;
    --color-warning: #ffb703; 
    --color-disabled: #9c9c9c;
}
