

html,
body {
  padding: var(--spacing-zero);
  margin: var(--spacing-zero);
  font-family: var(--font-family-roboto);
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
