.input[type=text] {
    width: 100%;
    padding: var(--spacing-xsm) var(--spacing-xmd);
    display: inline-block;
    border: 1px solid var(--white);
    border-radius: 4px;
    box-sizing: border-box;
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-xsm);
    color: var(--color-text);

    &:focus {
        outline: none !important;
        border: 1px solid var(--color-primary);
        box-shadow: 0 0 5px var(--color-primary);
    }

}

